a {
    float:left;
    margin-left:5px;
}

#bestdiv {
    width:50%;
    margin:0 auto;
    overflow:auto;
}

.images {
    overflow:auto;
    margin:0 auto;
}
.images img {
    margin:5px;
}
#win {
    margin:0 auto;
}
